.container {
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 2em;
}

h2.subtitle {
    font-size: 1.2em;
    color: darkgray;
}

/* Navigation and reset buttons */
.nav-button, .reset-button {
    background-color: #8E44AD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.reset-button:hover, .nav-button:hover {
    background-color: #6C3483;
}

/* Category buttons */
.category button {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.category button.selected {
    background-color: #555;
    color: white;
}

/* Recommendations */
#recommendation.surgery-center {
    color: green;
}

#recommendation.hospital {
    color: red;
}
.nav-button {
    background-color: #8E44AD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.reset-button {
    background-color: #E74C3C;
}

.category button.selected {
    background-color: #2980B9;  /* Darker shade of blue */
    color: white;
}
